@tailwind base;
@tailwind components;
@tailwind utilities;

/* css reset start */
html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Inter var', sans-serif;
}

input {
	background-color: rgb(246, 247, 248);
	border: 1px solid #eee;
	padding: 0 8px;
	height: 38px;
	font-size: 14px;
	padding-inline-end: 16px;
	line-height: 21px;
	padding-inline-start: 16px;
	width: 100%;
}

textarea {
	background-color: rgb(246, 247, 248);
	padding: 0 8px;
	font-size: 14px;
	padding-inline-end: 16px;
	line-height: 21px;
	padding-inline-start: 16px;
	width: 100%;
}

input:focus,
textarea:focus {
	outline: 1px solid rgb(0, 121, 211);
}

.tiptap {
	padding: 8px;
	height: 100%;
	min-height: 5em;
	border-radius: 8px;

	> * + * {
		margin-top: 0.75em;
	}

	ul,
	ol {
		padding: 0 1rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.1;
	}

	h1 {
		font-weight: 700;
		font-size: 2em;
	}

	h2 {
		font-weight: 700;
		font-size: 1.5em;
	}

	h3 {
		font-weight: 700;
		font-size: 1.25em;
	}

	code {
		background-color: rgba(#616161, 0.1);
		color: #616161;
	}

	pre {
		background: #0d0d0d;
		color: #fff;
		font-family: 'JetBrainsMono', monospace;
		padding: 0.75rem 1rem;
		border-radius: 0.5rem;

		code {
			color: inherit;
			padding: 0;
			background: none;
			font-size: 0.8rem;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	blockquote {
		padding-left: 1rem;
		border-left: 2px solid rgba(#0d0d0d, 0.1);
	}

	hr {
		border: none;
		border-top: 2px solid rgba(#0d0d0d, 0.1);
		margin: 2rem 0;
	}
}
